.aov.journal-sheet,
.aovJnl {
  font-family: var(--aov-primary-font);
  color: var(--aov-jnl-main-col);
  text-align:justify;

    .noJustify {
      text-align: start;
    }

    h3 {
      color: var(--aov-jnl-pri-col);
      font-family: var(--aov-secondary-font);
      font-size: 20px;
    }

    .title, h4 {
      color: var(--aov-jnl-pri-col);
      font-family: var(--aov-secondary-font);
      font-size: 18px;
    }

    h5 {
      color: var(--aov-jnl-pri-col);
      font-family: var(--aov-secondary-font);
      font-size: 16px;
      font-style: italic;
    }


    .quote {
      text-align:center;
      text-transform:uppercase;
      color: var(--aov-jnl-sec-col);
      font-family: var(--aov-secondary-font);
      font-weight: bold;
    }

    .attrib {
      font-family: var(--aov-secondary-font);
      text-align:center;
      color: var(--aov-jnl-sec-col);

    }

    .indent {
      text-indent: 20px;
    }

    .upper {
      text-transform: uppercase;
    }

    .centre {
      text-align: center;
    }

    .main {
      color: var(--aov-jnl-main-col);
    }

    .play {
      color: var(--aov-jnl-sec-col);
      border: 1px black solid;
      padding:5px;
      margin: 5px;
      background-color:cornsilk;
      .heading {
        font-family: var(--aov-secondary-font);
        text-align: center;
        font-size:18px;
      }
    }

    .rules {
      color: var(--aov-jnl-ter-col);
      border: 1px black solid;
      padding:5px;
      margin: 5px;
      background-color:cornsilk;
      .heading {
        font-family: var(--aov-secondary-font);
        text-align: center;
        font-size:18px;
      }
      h3 {
        color: var(--aov-jnl-ter-col); 
        text-align: center;
        text-transform:uppercase;               
      }
      h4 {
      color: var(--aov-jnl-ter-col);
      font-family: var(--aov-secondary-font);
      font-size: 18px;        
      }
    }

    .action {
      color: var(--aov-jnl-pri-col);
      border: 1px black solid;
      padding:5px;
      margin: 5px;
      background-color:cornsilk;
      .heading {
        font-family: var(--aov-secondary-font);
      }
    }

    ul.jnl {
      margin: 0.5em 0 0 0;
    }

    .rules ul.jnl li::marker {
      content: 'Þ ';
      font-size:15px;
      color:var(--aov-jnl-ter-col);
    }


    ul.jnl li::marker {
      content: 'Þ ';
      font-size:15px;
      color:var(--aov-jnl-pri-col);
    }

    ol.jnl li::marker {
      color:var(--aov-jnl-pri-col);
    }

    table {
      margin-left:10px;
      width: calc(100% - 20px);
      color: var(--aov-jnl-main-col);
    }

    table td {
      padding: 0px 0px 0px 5px;
      border-left: 1px solid white;
      border-right: 1px solid white;
      &.merged {
        vertical-align: middle;
        border-bottom: 1px solid black;
      }
    }

    table tbody tr:nth-child(odd) {
      background-color: var(--table-row-color-even);
    }

    table tbody tr:nth-child(even) {
      background-color: var(--table-row-color-odd);
    }

    .glossary p{
      text-indent: -20px;
      padding-left: 20px;
      &.indent {
        text-indent: 0px;
      }
    }

    .timeline p{
      text-indent: -30px;
      padding-left: 30px;
    }

    .example {
      padding-left: 20px;
      color: var(--aov-jnl-sec-col);
    }

    a.content-link {
      background: none;
      border: none;
      border-radius: 0;
      white-space: pre-wrap;
      word-break: normal;
      color: rgb(156, 7, 156);
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      text-indent: 0px;
      i {
        display:none;
      }
  }
}

