/*Prose Mirror CSS Layouts*/
.character-notes .prosemirror,
.character-notes prose-mirror {
  height: 450px;
}

.npc-notes .prosemirror,
.npc-notes prose-mirror {
  height: 570px;
  width: 435px
}

.ship-notes .prosemirror,
.ship-notes prose-mirror {
  height: 450px;
}

.prosemirror .editor-content,
prose-mirror .editor-content {
  position: absolute;
  overflow: hidden auto;
  inset: 0;
  outline: 0 solid transparent;
  cursor: var(--cursor-text);
  border: 1px solid;
  padding-left: 2px;
  padding-right: 20px;
}

.prosemirror button.toggle,
prose-mirror button.toggle {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  opacity: 0.5;
}
