@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Default Colours etc */
:root {
  --primary-font-colour: black;
  --secondary-font-colour: rgba(68, 7, 4, 1);
  --primary-back-colour:grey;
  --secondary-back-colour: lightgrey;
  --primary-font: "Roboto";
}

.aov .actor {
  font-family: var(--primary-font);
  color: var(--primary-font-colour);
}

.aov .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
}

.aov .sheet-header .item-img {
  flex: 0 0 60px;
  height: 60px;
}

.app .header-button.edit-cid-warning,
.application .window-header .header-control.edit-cid-warning {
  color: red;
}

.aov .cid-editor {
  a.copy-to-clipboard {
    flex: 0 0 20px;
    align-self: center;
    text-align: right;
  }

  fieldset.item-sheet-properties {
    label {
      height: auto;
      white-space: break-spaces;
    }

    span.warning {
      outline: 2px dashed rgba(255, 100, 0, 0.3);
      background-color: rgba(255, 100, 0, 0.3);
    }

    td.shorttext {
      text-align: center;
    }
  }
}

.aov .char-notes {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.aov .item-header {
  display: grid;
  margin: 0px 0px 10px 0px;
  row-gap: 0px;
  column-gap: 10px;
  grid-template-columns: 496px 60px;
}



/* SETTINGS  */
.aov .settingNote {
  flex: 0 0 100%;
  font-size: var(--font-size-12);
  line-height: var(--line-height-16);
  color: var(--secondary-font-colour);
  margin: 3px 0;
}



