@font-face {
  font-family: 'Farnham';
  font-style: normal;
  font-weight: 400;
  src: url('../art-assets/Farnham-Text.otf') format('woff2');
}

@font-face {
  font-family: 'Charcuterie';
  font-style: normal;
  font-weight: 400;
  src: url('../art-assets/Charcuterie-Contrast.ttf') format('woff2');
}

@font-face {
  font-family: "IMFellDWPica";
  font-weight: 400;
  font-style: italic;
  src: url('../art-assets/IMFellDWPica-Regular.ttf') format('woff2');
}

/* Default Colours etc */

:root {
  --aov-primary-font: "Farnham";
  --aov-title-font: "IMFellDWPica";
  --aov-primary-font-size: 14px;
  --aov-title-font-size: 16px;
}

body.theme-light .application.aov,
body.theme-light.application .aov {
  --aov-primary-font-colour: black;
  --aov-secondary-font-colour: rgb(163, 16, 8);
  --aov-title-font-colour: rgb(68, 111, 94);
  --primary-back-colour: grey;
  --secondary-back-colour: rgb(21, 115, 164);
  --tertiary-back-colour: rgb(131, 57, 36);
  --background-colour: rgba(68, 111, 94, 0.5);
  --actor-rollable-colour: black;
  --actor-rollable-shadow: red;
  --primary-icon-colour: black;
  --secondary-icon-colour: rgb(171, 36, 12);
  --tertiary-icon-colour: rgb(68, 111, 94);
  --character-sheet-tab-blue: rgb(21, 115, 164);
  --character-sheet-tab-green: rgb(68, 111, 94);
  --character-sheet-tab-red: rgb(131, 57, 36);
  --character-sheet-tab-yellow: rgb(237, 181, 37);
  --cid-duplicate: red;
}

body.theme-dark .application.aov,
body.theme-dark.application .aov {
  --aov-primary-font-colour: white;
  --aov-secondary-font-colour: rgba(187, 248, 251, 1);
  --aov-title-font-colour: rgb(116, 252, 252);
  --primary-back-colour: rgb(127, 127, 127);
  --secondary-back-colour: rgb(44, 44, 44);
  --tertiary-back-colour: rgb(131, 57, 36);
  --background-colour: rgba(255, 255, 255, 0.05);
  --actor-rollable-colour: white;
  --actor-rollable-shadow: rgb(0, 255, 255);
  --primary-icon-colour: white;
  --secondary-icon-colour: rgb(0, 255, 255);
  --tertiary-icon-colour: rgb(68, 111, 94);
  --character-sheet-tab-blue: rgb(21, 115, 164);
  --character-sheet-tab-green: rgb(68, 111, 94);
  --character-sheet-tab-red: rgb(131, 57, 36);
  --character-sheet-tab-yellow: rgb(237, 181, 37);
  --cid-duplicate: red;
}

/*Half the padding on windows*/
.application.aov .window-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  border: 1px darkslategrey solid;
  border-radius: 3px;
}


.application.aov.character .window-content {
  padding: 0px;
}

/*Allow menu on left of character sheet to be visible*/
.application.aov.character {
  overflow: visible !important;
}

.rollable:hover,
.rollable:focus,
.contextmenu:hover,
.contextmenu:focus,
.item-toggle:hover,
.item-toggle:focus,
.item-view:hover,
.item-view:focus {
  color: var(--actor-rollable-colour);
  text-shadow: 0px 0px 5px var(--actor-rollable-shadow);
  font-weight: bold;
  cursor: pointer;
}

.character-notes .prosemirror,
.character-notes prose-mirror {
  height: 450px;
}


.prosemirror .editor-content,
prose-mirror .editor-content {
  position: absolute;
  overflow: hidden auto;
  inset: 0;
  outline: 0 solid transparent;
  cursor: var(--cursor-text);
  border: 1px solid;
  padding-left: 2px;
  padding-right: 20px;
}

.prosemirror button.toggle,
prose-mirror button.toggle {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  opacity: 0.5;
}

.aov.character .window-content {
  font-family: var(--aov-primary-font);
  color: var(--aov-primary-font-colour);
  font-size: var(--aov-primary-font-size);
  background-image: url('../art-assets/charSheet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.aov.character .sheet-header {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  cursor: default;
}

.aov.farm {
  font-family: var(--aov-primary-font);
  color: var(--aov-primary-font-colour);
  font-size: var(--aov-primary-font-size);
  background-image: url('../art-assets/stone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.aov.item {
  font-family: var(--aov-primary-font);
  color: var(--aov-primary-font-colour);
  font-size: var(--aov-primary-font-size);
  background-image: url('../art-assets/stone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.aov.aovTab {
  font-family: var(--aov-primary-font);
  color: var(--aov-primary-font-colour);
  font-size: var(--aov-primary-font-size);
}

.aov .sheet-header {
  border-bottom: 1px darkslategrey solid;
  padding: 5px;
}

.aov .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
}

.aov .sheet-header .item-img {
  flex: 0 0 60px;
  height: 60px;
}

.aov .standard-form .form-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-height: 20px;
}

.aov .standard-form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  gap: 0;
  padding-bottom: 10px;
}

.aov .standard-form .form-group>label,
.standard-form .form-group>span.label {
  flex: 1;
  color: var(--aov-primary-font-colour);
  font-weight: bold;
  line-height: 20px;
  cursor: var(--cursor-default);
}


.app .header-button.edit-cid-warning,
.application .window-header .header-control.edit-cid-warning {
  color: red;
}

.aov .cid-editor {
  a.copy-to-clipboard {
    flex: 0 0 20px;
    align-self: center;
    text-align: right;
  }

  fieldset.item-sheet-properties {
    label {
      height: auto;
      white-space: break-spaces;
    }

    span.warning {
      outline: 2px dashed rgba(255, 100, 0, 0.3);
      background-color: rgba(255, 100, 0, 0.3);
    }

    td.shorttext {
      text-align: center;
    }
  }
}

.aov .character.tab {
  padding-left: 25px;
  padding-right: 25px;
}

.aov .char-notes {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.aov .document-name {
  color: var(--aov-primary-font-colour);
  font-size: var(--aov-title-font-size);
  font-weight: bold;
}

.aov .document-name input {
  color: var(--aov-secondary-font-colour);
  max-height: calc(var(--aov-title-font-size) + 3.5px);
  outline: none;
}

.aov .left {
  text-align: left;
}

.aov .right {
  text-align: right;
}

.aov .centre {
  text-align: center;
}

.aov .bold {
  font-weight: bold;
}

.aov .upper {
  text-transform: uppercase;
}

.aov .indent {
  padding-left: 5px;
}

.aov .new-row {
  grid-column-start: 1;
}

.aov .truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.aov .darkred {
  color: var(--cid-duplicate);
}

.bottom-line {
  border-bottom: var(--aov-primary-font-colour) 1px solid;
}

.right-line {
  border-right: var(--aov-primary-font-colour) 1px solid;
}

.aov .character .statBonus {
  display: grid;
  grid-template-columns: 125px 50px;
  grid-column-gap: 5px;
  grid-row-gap: 2px;
}

.aov .gear-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.aov .skill-list {
  list-style: none;
  display: block;
  column-count: 2;
  padding: 0;
  margin: 0;
}

.aov .skillDev-list {
  list-style: none;
  display: block;
  column-count: 1;
  padding: 0px;
  margin: 0px;
  border-left:var(--aov-primary-font-colour) 1px solid;
  border-bottom:var(--aov-primary-font-colour) 1px solid;
}

.aov .charHitLoc {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.aov .gear-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: var(--background-colour);
  font-weight: bold;
}

.aov .gear-grid {
  display: grid;
  grid-template-columns: 25px 400px 50px 50px 35px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}

.aov .skill-grid-header {
  display: grid;
  grid-template-columns: 313px 313px;
  grid-column-gap: 10px;

}

.aov .skill-grid {
  display: grid;
  grid-template-columns: 175px 35px 50px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}

.aov .skillDev-grid {
  display: grid;
  width:636px;
  grid-template-columns: auto 150px 50px 50px 50px 50px 50px 50px;
  padding-left: 5px;
  margin:0px;
  border-right:var(--aov-primary-font-colour) 1px solid;
  border-top:var(--aov-primary-font-colour) 1px solid;
}

.aov .passion-grid {
  display: grid;
  grid-template-columns: 250px 35px 50px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
  width: 390px;
}

.aov .wounds-grid {
  display: grid;
  grid-template-columns: 150px 70px 40px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}

.aov .devotion-grid{
  display: grid;
  grid-template-columns: 150px 395px 50px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}

.aov .family-grid{
  display: grid;
  grid-template-columns: 175px 125px 145px 65px 65px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}

.aov .gear-list .gear-controls {
  padding-top: 5px;
}

.aov .gear-list .gear-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.aov input.stat-val {
  color: var(--aov-secondary-font-colour);
  font-size: var(--aov-secondary-font-size);
  max-height: calc(var(--aov-primary-font-size));
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px var(--aov-secondary-font-colour) solid;
  background: none;
  outline: none;
}

.aov .item-header {
  display: grid;
  grid-template-columns: 500px 60px;
  grid-column-gap: 5px;
  padding-bottom: 5px;
}

.aov .gear-detail-grid {
  display: grid;
  grid-template-columns: 175px 150px 150px;
  grid-column-gap: 10px;
  padding-top: 10px;
}

.aov .weapon-detail-grid {
  display: grid;
  grid-template-columns: 175px 175px 175px;
  grid-column-gap: 10px;
  padding-top: 10px;
}

.aov .weapons-list-grid {
  display: grid;
  grid-template-columns: 160px 50px 125px 50px 30px 10px 30px 40px 80px 30px;
  grid-column-gap: 5px;
  padding-top: 10px;
}

.aov .minstrdex {
  display: grid;
  grid-template-columns: 75px 25px 75px;
  grid-column-gap: 0px;
}

.aov input.gear-input {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 5.5px);
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px var(--aov-secondary-font-colour) solid;
  background: none;
  outline: none;
}

.aov select.gear-input {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 5.5px);
  text-align: center;
}

.aov input.stat-input {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 2px);
  text-align: center;
  outline: none;
}

.aov input.stat-input {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-secondary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 5.5px);
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px var(--aov-secondary-font-colour) solid;
  background: none;
  outline: none;
}

.aov select.stat-input {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 5.5px);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px var(--aov-secondary-font-colour) solid;
  border-radius: 0px;
  text-align: center;
  background: none;
  outline: none;
}


.aov .character-header {
  display: grid;
  grid-template-columns: 450px 200px;
  grid-column-gap: 4px;
}

.aov .stats-header {
  display: grid;
  grid-template-columns: 80px 100px auto 100px;
  grid-column-gap: 20px;
  padding-top: 5px;
  padding-right: 7px;
}

.aov .charNameHeader {
  padding-left: 14px;
  padding-top: 26px;
}

.aov .statsTitle {
  font-size: var(--aov-title-font-size);
  color: var(--aov-primary-font-colour);
  font-weight: bold;
}

.aov .stat-grid {
  font-size: var(--aov-title-font-size);
  display: grid;
  grid-template-columns: 25px 10px 25px;
}

.aov .statsgrid {
  display: grid;
  grid-template-columns: 75px 50px 50px 50px 75px;
  grid-column-gap: 5px;
}

.aov .actorName-grid {
  font-size: var(--aov-title-font-size);
  display: grid;
  grid-template-columns: 80px 350px;
  grid-column-gap: 5px;
  padding-bottom: 10px;
}

.aov .icon16 {
  font-size: 16px;
  align-items: center;
}

.aov .icon20 {
  font-size: 20px;
  align-items: center;
}

.aov .primIcon {
  color: var(--primary-icon-colour);
}

.aov .secIcon {
  color: var(--secondary-icon-colour);
}

.aov .terIcon {
  color: var(--tertiary-icon-colour);
}

.aov .ability-grid {
  display: grid;
  grid-template-columns: 70px 100px 210px;
  grid-column-gap: 20px;
  padding-left: 10px;
}

.aov .characteristics {
  display: grid;
  grid-template-columns: 40px 30px;

}

.aov .personalSec {
  display: grid;
  grid-template-columns: max-content auto;

  grid-column-gap: 5px;
}

.aov .derivedStats {
  display: grid;
  grid-template-columns: 40px 60px;

}

.aov .personalSecGrid {
  display: grid;
  grid-template-columns: auto;
}


.aov .ability-cell {
  height: 18px;
  font-size: var(--aov-primary-font-size);
}

.aov input.ability-cell {
  color: var(--aov-secondary-font-colour) !important;
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size) + 5.5px);
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px var(--aov-secondary-font-colour) solid;
  background: none;
  outline: none;
}

.aov input.skillDev-input {
  color: var(--aov-secondary-font-colour);
  font-size: var(--aov-primary-font-size);
  max-height: calc(var(--aov-primary-font-size));
  text-align: center;
  padding: 0px;
  border-radius: 0px;
  border: transparent;
  background: none;
  outline: none;
}

.aov .tab.skills {
  max-height: 600px;
  overflow-x: scroll;
}

.aov .img-centre {
  display: block;
  margin-left: auto;
  margin-right: auto;

}



/* SETTINGS  */
.aov .settingNote {
  flex: 0 0 100%;
  font-size: var(--font-size-12);
  line-height: var(--line-height-16);
  color: var(--aov-secondary-font-colour);
  margin: 3px 0;
}

/*General Tabs*/
nav.aov.sheet-tabs.tabs {
  background: none;
}

/*Character Sheet Tabs*/
nav.aov.actor.character.sheet-tabs.tabs {
  border: none;
}

.aov.character.tabs {
  gap: 0rem;
  position: absolute;
  left: 0;
  top: 830px;
  z-index: -5;
  width: 950px;
  height: 120px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  overflow: hidden;
  pointer-events: none;
  background: none;

  .aovTab {
    color: #fcf7f1;
    height: 30px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-size: cover;
    flex: 1;
    position: relative;
    transform: rotate(90deg);
    bottom: -4px;
    background-repeat: no-repeat;
    margin: 1rem 0.4rem 0 0;
    pointer-events: auto;
    font-family: var(--aov-title-font);


    &:hover {
      transform: scale(1.2);
      transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
      transition-duration: 0.1s;
      transform: rotate(90deg);
      bottom: 10px;
    }

    &.tab-blue {
      background: var(--character-sheet-tab-blue);
      flex: 0 0 90px;
    }

    &.tab-green {
      background: var(--character-sheet-tab-green);
      flex: 0 0 90px;
    }

    &.tab-red {
      background: var(--character-sheet-tab-red);
      flex: 0 0 90px;
    }

    &.tab-yellow {
      background: var(--character-sheet-tab-yellow);
      flex: 0 0 90px;
    }

    &.active {
      margin-top: 0;
      padding-top: 10px;
      height: 50px;
      bottom: -5px;
      flex: 0 0 100px;

      &:hover {
        transform: scale(1.2);
        transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
        transition-duration: 0.1s;
        transform: rotate(90deg);
        bottom: 10px;
      }
    }

    .tab-label {
      text-transform: uppercase;
      font-family: var(--aov-title-font);
      width: 100%;
      height: 100%;
      max-width: 80px;
      overflow: hidden;
      display: inline-block;
      text-shadow: 2px 2px 4px #000000;
      box-sizing: content-box;

      &.active {
        text-shadow: 2px 2px 15px white;
        color: #ffffaa;
      }
    }
  }
}

.aov.character .hitLocGrid {
  display: grid;
  background-image: url('../art-assets/warrior.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: 75px 75px 75px 75px;
}

.aov .hitlocCell {
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 0px;
}

.aov .hitLocCellAtt {
  display: grid;
  grid-template-columns: 30px 30px 10px 30px ;
}

.aov.farm .farm-map-grid {
  display: grid;
  height: 360px;
  background-image: url('../art-assets/iceland.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  grid-template-columns: repeat(37, 15px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: repeat(22, 15px);
}

.aov.farm .thralls-grid {
  display: grid;
  grid-template-columns: 200px 100px 100px 100px 30px;
  grid-column-gap: 5px;
  padding-left: 5px;
}
