<section class="aov skill-select" id="skill-select-form">
  <br>
  <div class='bold'>
  </div>
  <br>


  {{#each selectOptions as |option key|}}
    <div class="selectList">
      <div class="new-row centre item-{{key}} mediumIcon select rollable" data-set="{{key}}"><a><i class="fa-regular fa-square"></i></a></div>
      <div class="bold charname">{{option.name}}</div>
    </div>
  {{/each}}

  <br>

</section>