<div class="aov settingsForm flexcol" autocomplete="off">
    <h2 class="bold">{{localize 'AOV.Settings.npcSettings'}}</h2>

    <div class="form-group">
      <label class="bold">{{localize 'AOV.Settings.tokenDropMode'}}</label>
      <div class="form-fields" style="flex: 1;">
        <select class="centre" name="tokenDropMode" data-dtype="String">
          {{selectOptions tokenDropModeOptions selected=tokenDropMode.value}}
        </select>
      </div>
      <p class="settingNote">{{localize 'AOV.Settings.tokenDropModeHint'}}</p>
    </div>






    <br>
  </div>