<form class="aov">
  <div class="">
    <ol class="op-list">
      <div class="dice-roll">
        <li class='actor-roll'>
          <img class="open-actor" src="{{particImg}}" height="53" width="53" title="{{particName}}" />
          <div class="roll-details">
            <div class="header">
              <div class='name'>
                <span class="tag">{{particName}}</span>
              </div>
            </div>
          </div>
        </li>
        </div>
        <div class="assign-dice">
          {{#each dice as |die|}}
            {{#unless (eq @index 0)}}
            <span>, </span>
            {{/unless}}
            <span class="bold">{{die.value}}</span>
          {{/each}}
        </div>
    </ol>
  </div>
</form>