<section>
<div class="bold">Welcome to Version 13.16 for Age of Vikings</div>
<br>
<div class="underline">Significant Changes.</div>
<div class="indent">The main changes are the introduction of new items which support automated character creation, along with character creation.</div>
<div class="indent">Please see the wiki for more information</div>
<div class="indent">A short demo of character creation is available at https://www.youtube.com/watch?v=4WiwFc4DVgE</div>
<div class="indent"></div>

<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/blob/main/changelog.md">https://github.com/Genii-Locorum/aov/blob/main/changelog.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/Genii-Locorum/aov/issues">https://github.com/Genii-Locorum/aov/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/aov/wiki/">https://github.com/Genii-Locorum/aov/wiki/</a></div>
<br>

</section>