<section>
<div class="bold">Welcome to Version 13.14 for Age of Vikings</div>
<br>
<div class="underline">The main change in this version is the introduction of the Chaosium Canvas Interface</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/aov/wiki/Chaosium-Canvas-Interface-%E2%80%90CCI">https://github.com/Genii-Locorum/aov/wiki/Chaosium-Canvas-Interface-%E2%80%90CCI</a></div>
<div class="indent"></div>

<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/blob/main/changelog.md">https://github.com/Genii-Locorum/aov/blob/main/changelog.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/Genii-Locorum/aov/issues">https://github.com/Genii-Locorum/aov/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/aov/wiki/">https://github.com/Genii-Locorum/aov/wiki/</a></div>
<br>

</section>