<section>
<div class="bold">Welcome to Version 13.1 for Age of Vikings</div>
<br>
<div class="underline">Significant Changes in this release</div>
<div>None</div>
<br>
<div class="">Change Log</div>
<div><a style="color: darkblue;"href="https://github.com/Genii-Locorum/aov/blob/main/changelog.md">https://github.com/Genii-Locorum/aov/blob/main/changelog.md</a></div>
<br>
<div class="">Please report bugs at</div>
<div><a style="color: darkblue;" href="https://github.com/Genii-Locorum/aov/issues">https://github.com/Genii-Locorum/aov/issues</a></div>
<br>
</section>