<section>
<div class="bold">Welcome to Version 13.4 for Age of Vikings</div>
<br>
<div class="underline">Significant Changes in this release</div>
<div class="indent">-There are now some NPC options on the Base Stats Tab</div>
<div class="indent">-There is a game settings menu for NPCs where you can determine the default behaviour when a new token is created on a scene</div>
<div class="indent">-You can now roll/reroll NPC stats from the NPC Sheet</div>
<div class="indent">-From the "stats" tab on the character sheet you can automatically recalc the base scores of non-fixed skills</div>
<br>
<div class="underline">Change Log</div>
<div class="indent"><a style="color: blue; text-decoration: none;;"href="https://github.com/Genii-Locorum/aov/blob/main/changelog.md">https://github.com/Genii-Locorum/aov/blob/main/changelog.md</a></div>
<br>
<div class="underline">Please report bugs at</div>
<div class="indent"><a style="color: blue; text-decoration: none;;" href="https://github.com/Genii-Locorum/aov/issues">https://github.com/Genii-Locorum/aov/issues</a></div>
<br>
<div class="underline">Game Instructions at</div>
<div class="indent"><a style="color: blue; text-decoration: none;" href="https://github.com/Genii-Locorum/aov/wiki/">https://github.com/Genii-Locorum/aov/wiki/</a></div>
<br>

</section>